:root{
  --azul-marino: #31356E;
  --azul-oscuro: #012148;
  --azul-claro: #9AB6FF;
  --azul-hielo: #C2D8ED;
  --azul-cobalto: #2D8BBAB2;
  --gris: #D9D9D9;
  --gris-oscuro: #8DA9C47A;
  --gris-medio: #d2cfcfcc;
  --verde: #03AE1A;
  --rojo: #D80303;
  --naranja: #E19E03;
  --lila: #D0A6F8;
  --negro: #000000;
}

.App{
  background-color: white;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.botonAzulMarino{
  width: 290px !important;
  height: 50px !important;
  border-radius: 20px !important;
  background-color: var(--azul-marino) !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonAzulOscuro{
  width: 290px !important;
  height: 50px !important;
  border-radius: 20px !important;
  background-color: var(--azul-oscuro) !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonAzulClaro{
  width: 290px !important;
  height: 50px !important;
  background-color: var(--azul-claro) !important;
  color: black !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonAzulCobalto{
  width: 290px !important;
  height: 50px !important;
  background-color: var(--azul-cobalto) !important;
  color: black !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonGris{
  width: 190px !important;
  height: 50px !important;
  background-color: var(--gris-medio) !important;
  color: black !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonGris:hover{
  background-color: var(--negro) !important;
  color: white !important;
}

.botonAzulClaro:hover{
  background-color: var(--azul-marino) !important;
  color: white !important;
}

.botonAzulOscuro:hover{
  background-color: var(--azul-hielo) !important;
  color: black !important;
}

.botonAzulCobalto:hover{
  background-color: var(--azul-marino) !important;
  color: white !important;
}

.botonAzulMarino:hover{
  background-color: var(--azul-claro) !important;
  color: black !important;
}

.opcionIcono{
  display: flexbox;
}

