.contenedor-cuenta {
  height: 100% !important;
  width: 100% !important;
  margin-bottom: 50px !important;
}

.contenedor-logo-cuenta {
  margin: 50px auto -50px auto !important;
  display: grid !important;
  place-items: center !important;
}

.logo-cuenta {
  width: 100px;
  height: 100px;
}

.caja-contenedora-cuenta {
  background-color: var(--gris) !important;
  display: grid !important;
  place-items: center !important;
  height: 800px !important;
  width: 500px;
  border-radius: 25px;
  padding-top: 30px;
  margin: 0 auto !important;
}

.form-cuenta {
  display: grid !important;
  place-items: center !important;
}

.input-cuenta {
  font-family: "Poppins", sans-serif !important;
  margin: 10px 0 !important;
  width: 373px !important;
  height: 30px !important;
  border-radius: 15px !important;
  background-color: rgba(141, 169, 196, 0.48) !important;
  border: 0 !important;
  padding: 15px !important;
  color: var(--azul-oscuro) !important;
  text-align: center !important;
  font-weight: bold !important;
}

.etiqueta-cuenta {
  color: rgb(116, 116, 116) !important;
  margin-top: 10px !important;
}

.select-cuenta {
  font-family: "Poppins", sans-serif !important;
  width: 405px !important;
  height: 50px !important;
  border-radius: 10px !important;
  background-color: rgba(141, 169, 196, 0.48) !important;
  border: 0 !important;
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.contenedor-boton-cuenta {
  display: grid !important;
  place-items: center !important;
  margin-top: 70px !important;
}

.boton-cuenta {
  font-family: "Poppins", sans-serif !important;
  background-color: rgba(45, 139, 186, 0.7) !important;
  color: white;
  width: 400px !important;
  text-transform: none !important;
  border-radius: 15px !important;
  padding: 15px !important;
  border: 0;
  cursor: pointer;
}
