.dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.item{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: var(--azul-hielo);
}

.indicador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.porcentajeUp{
    color: green;
}

.porcentajeDown{
    color: red;
}