.card {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: lightgrey; /* Fondo de la tarjeta en gris claro */
}

.name-container {
    background-color: lightblue; /* Fondo azul claro para el nombre */
    padding: 10px;
    text-align: center;
    border-radius: 5x;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: black; /* Color del texto del nombre */
}

.content {
    text-align: left;
    color: grey; /* Color del texto para el contenido */
}

.label {
    font-weight: bolder;
    color: black; /* Color del texto para las etiquetas */
}

.value {
    margin-bottom: 12px;
    color: black; /* Color del texto para los valores */
}

.satisfaction {
    color: red;
}

.serviceRating {
    color: green;
}

.resolutionEffectiveness {
    color: orange;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}