.header{
  display: flex;
  color: white;
  padding: 20px; 
}

.menuIconos{
  display: flex;
  gap: 10px;
  padding-left: 30px;
}

.tagEmpleado{
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.contenedor {
  width: 290px;
}

.collapse-cerrar-sesion {
  position: absolute;
  z-index: 10 !important;
}

.boton-cerrar-sesion {
  width: 190px !important;
  margin-top: 10px !important;
}