.joinAvailable {
    background-color: var(--verde) !important;
    color: white !important;
}

.joinAvailable:hover {
    background-color: var(--verde-oscuro) !important;
    transition-duration: .5s !important;
}

.joinUnavailable {
    background-color: var(--gris-medio) !important;
    color: white !important;
}

.leaveCall {
    background-color: red !important;
}

.leaveCall:hover{
    background-color: rgb(211, 0, 0) !important;
    transition-duration: .5s;
}