.joinAvailable {
    background-color: var(--verde);
    color: white;
}

.joinAvailable:hover {
    background-color: var(--verde-oscuro);
    transition-duration: .5s;
}

.joinUnavailable {
    background-color: var(--gris-medio);
    color: white;
}

.leaveCall {
    background-color: red;
    
}

.leaveCall:hover{
    background-color: rgb(211, 0, 0);
    transition-duration: .5s;
}
