.card {
    height: 400px;
    width: 700px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: gray;
}

.header {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 173, 173);
    height: 60px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.izquierda, .derecha {
    width: 49%;
 
}

.label {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.value {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px; 
}

.info {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

.avatar {
    margin-bottom: 20px; /* Opcional: espacio debajo del avatar */
}